# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Streamlit secrets/local config
.streamlit/secrets.toml

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Temp/build artifacts
.tmp/
tmp/
dist/
build/

